<h1>
  Article id: <%= @article.id %>
</h1>

<h2>
  <%= @article.title %>
</h2>
<p>
  <%= @article.body %>
</p>
<button>
  <%= link_to "Edit", edit_article_path(@article) %>
</button>

<button>
  <%= link_to "Delete", article_path(@article), method: :delete, data: { confirm: "Are you sure?" } %>
</button>